/node_modules
/public/hot
/public/css
/public/js
/public/fonts
/public/images
/public/mix-manifest.json
/public/storage
/vendor
/.idea
/.vagrant
/storage/miners.txt
/storage/stats.txt
/storage/payouts.txt
/storage/state.txt
/storage/blocks.txt
/storage/pooldata
/storage/settings.json
Homestead.json
Homestead.yaml
npm-debug.log
.env
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
package-lock.json
