/node_modules
/public/hot
/public/css
/public/js
/public/fonts
/public/mix-manifest.json
/public/storage
/vendor
/.idea
/.vagrant
/storage/miners.txt
/storage/stats.txt
/storage/balances.txt
Homestead.json
Homestead.yaml
npm-debug.log
.env
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
package-lock.json
