
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "bulma";

pre.oneline {
	white-space: nowrap;
}

.parameter, .important {
	color: red;
}

p.offset {
	margin-top: 15px;
}

#footer {
	font-size: small;
	margin-bottom: 25px;
}

.api.is-loading {
	position: relative;
	pointer-events: none;
	opacity: 0.5;
	&:after {
		@include loader;
		position: relative;
		border-width: 0.25em;
		top: calc(50% - 0.5em);
		left: calc(50% - 0.5em);
	}
}
